#home {
  padding: 40px 0;

  #skills {
    @include cf;
    .skill-item {
      margin-bottom: 60px;
      float: left;
      margin-right: 20px;
      .skill-images {
        @include cf;
        img {
          float: left;
          height: 50px;
          width: auto;
          display: block;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
