.wrapper
  #home
    p.restrict-width.headline I'm a Front End Developer from London, UK, with 5+ years development experience who has a passion for semantic code, clean design and great attention to detail.
    h2 I have worked with and currently work with...
    ul#skills
      li.skill-item
        .skill-images
          img(src="/dist/img/skills/js.png", alt="")
          img(src="/dist/img/skills/angularjs.png", alt="")
          img(src="/dist/img/skills/firebase.png", alt="")
          img(src="/dist/img/skills/jquery.png", alt="")
      li.skill-item
        .skill-images
          img(src="/dist/img/skills/html5.png", alt="")
          img(src="/dist/img/skills/jade.png", alt="")
      li.skill-item
        .skill-images
          img(src="/dist/img/skills/css3.png", alt="")
          img(src="/dist/img/skills/sass.png", alt="")
          img(src="/dist/img/skills/compass.png", alt="")
      li.skill-item
        .skill-images
          img(src="/dist/img/skills/gulp.png", alt="")
          img(src="/dist/img/skills/grunt.png", alt="")
          img(src="/dist/img/skills/npm.png", alt="")
      li.skill-item
        .skill-images
          img(src="/dist/img/skills/wordpress.png", alt="")
          img(src="/dist/img/skills/shopify.png", alt="")
      li.skill-item
