.wrapper
  a.back-home(href="javascript:;", ng-click="Ctrl.hideCaseStudy()") &lt; Back home
  .case-study-content
    h2 Case Study - thortful.com
    p.restrict-width I have spent the past 12 months building the most ambitious project I've ever worked on from scratch.
    p.restrict-width The idea behind the company is simple - build a website & two apps for users to be able to choose, personalise and send a greeting card within 3 minutes with next day delivery.
    p.restrict-width Focussing on delivering high quality designs from some of the world's top creators, it was clear from the beginning that this was going to be a ongoing large project.
    p.restrict-width With this in mind we set out to build something fast, modern & flexible.
    p.restrict-width Built with an AngularJS/Sass/Jade/Grunt stack on the front end and a REST API built with Java and MongoDB on the back end, we ended up with something fast bla bla...
