.skills-list
  h2 I have worked with and currently work with...
  ul#skills
    li.skill-item
      .skill-images
        a.no-link-style(href="")
          img(src="/dist/img/skills/js.png", alt="")
          i.tooltip Javascript
        a.no-link-style(href="")
          img(src="/dist/img/skills/angularjs.png", alt="")
          i.tooltip Angular JS 1.x
        a.no-link-style(href="")  
          img(src="/dist/img/skills/firebase.png", alt="")
          i.tooltip Firebase
        a.no-link-style(href="")  
          img(src="/dist/img/skills/jquery.png", alt="")
          i.tooltip jQuery
    li.skill-item
      .skill-images
        a.no-link-style(href="")  
          img(src="/dist/img/skills/html5.png", alt="")
          i.tooltip HTML5 
        a.no-link-style(href="")  
          img(src="/dist/img/skills/jade.png", alt="")
          i.tooltip Jade
    li.skill-item
      .skill-images
        a.no-link-style(href="")  
          img(src="/dist/img/skills/css3.png", alt="")
          i.tooltip CSS3
        a.no-link-style(href="")  
          img(src="/dist/img/skills/sass.png", alt="")
          i.tooltip Sass
        a.no-link-style(href="")
          img(src="/dist/img/skills/compass.png", alt="")
          i.tooltip Compass
    li.skill-item
      .skill-images
        a.no-link-style(href="")  
          img(src="/dist/img/skills/gulp.png", alt="")
          i.tooltip Gulp
        a.no-link-style(href="")  
          img(src="/dist/img/skills/grunt.png", alt="")
          i.tooltip Grunt
        a.no-link-style(href="")  
          img(src="/dist/img/skills/npm.png", alt="")
          i.tooltip Node Package Manager
    li.skill-item
      .skill-images
        a.no-link-style(href="")  
          img(src="/dist/img/skills/wordpress.png", alt="")
          i.tooltip Wordpress
        a.no-link-style(href="")  
          img(src="/dist/img/skills/shopify.png", alt="")
          i.tooltip Shopify
