@font-face {
  font-family: 'NexaBold';
  src:  url('/dist/fonts/nexa_bold.otf');
}

.nexa {
  font-family: 'NexaBold', arial, sans-serif;
}

h1 {
  @extend .nexa;
  font-size: 250%;
  margin-bottom: 0;
}

h2,h3,h4,h5,h6 {
  @extend .nexa;
}

h2 {
  @include font(30);
  margin-bottom: 24px;
}
